
.moon-head{
    position: relative;
    top: -3400px;
    color: #FFF;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        text-transform: uppercase;
}

.num{
    opacity: 50%;
}

.moon{
    position: relative;
    top: -3280px;
}

.mon-dest{
    position: absolute;
   margin-top: -3280px;
   color: black;
   font-size: 50px;
   margin-left: 750px;
    color: #FFFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   

}

.see{
   
        margin-top: -3150px;
        color: #D0D6F9;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-left: 100px;
       
       
       
}




.col-sm-4{
            position: absolute;
            top: 300px;
            margin-left: 750px;
            
           
        
}

.col-sm-4 .btn{
    color: white;
}

.avg{
    position: absolute;
    top: 750px;
    color: #D0D6F9;
    margin-left: 750px;
    
}

.est{
position: absolute;
    top: 750px;
    color: #D0D6F9;
    margin-left: 980px;


}

.km{

position: absolute;
    top: 780px;
    color:white;
    margin-left: 750px
}

.days{

    position: absolute;
        top: 780px;
        color: white;
        margin-left: 980px;
}

.hr-body{
    position: absolute;
    top: 720px;
    margin-left: 750px;
    max-width: 360px;
}


