
.moon-head{
    position: relative;
    top: -3400px;
    color: #FFF;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        text-transform: uppercase;
}

.moon{
    position: relative;
    top: -3280px;
}




.col-sm-4{
            position: absolute;
            top: 300px;
            margin-left: 750px;
            
           
        
}

.col-sm-4 .btn{
    color: white;
}

