@media screen and (max-width: 500px) {

    .travel{
        text-align: center;
    }

   .desktopHome{
    display: none;

 
   }

   .in {
      
       background-color: red !important;
        padding: 45px 20px 45px 20px;
        margin-right: 100px;
   }
      

 .mobileHome{
    max-width: 100%;
    height: auto;
    position:relative;
 }


   
   

}


@media screen and (min-width: 501px)  {
    .mobileHome{
        display: none;
       
    }

    .horizontal-line{
        display: none;
    }

    
    
}
   
   .travel{
       margin-top: -550px;
       position: absolute;
       color: #D0D6F9;
       font-size: 28px;
       font-weight: 400px;
       letter-spacing: 4.73px;
    font-family: Barlow Condensed;


   }

   h1{
       font-size: 150px;
       color: #FFF;
       font-weight: 400px;
       position: absolute;
       top: 400px;
    font-family: Bellefair;
   }


   .explore-more {
       color: #0B0D17;
       font-size: 32px;
       letter-spacing: 2px;
       font-weight: 400px;

   }

   .in {
       position: absolute;
       margin-left: 400px;
       top: 420px;
       background-color: white;
       padding: 90px 40px 90px 40px;
      

   }

   .in:hover {
      
       border-width: 50px;
       border-color: #24262F;
       background-color: #FFF;
       opacity: 90%;
       cursor: pointer;
        transition:.1000ms ease-in;
 
       
   }


   .faceit-now {
       position: relative;
       top: -310px;
       color: #D0D6F9;
       font-size: 16px;
       line-height: 32px;
       font-weight: 400px;
   }

   .horizontal-line {
       position: absolute;
       top: 85px;
       margin-left: 345px;
       max-width: 900px;
   }

   .logo-top {
       background-color: white;
       border-radius: 50px 50px;
       position: absolute;
       top: 60px;
       margin-left: 100px;


   }