 span {
     opacity: 50%;
 }

 .space-capsule-launch{
    position: relative;
    top: -1470px;
    color: #FFF;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 4.725px;
 }

 .capsule-img {
     position: absolute;
     top: 1750px;
     color: white;
     font-family: Barlow Condensed;
     font-size: 28px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 4.725px;
 }

 .terminology-capsule {
     position: relative;
     top: -1220px;
     color: #D0D6F9;
     font-family: Barlow Condensed;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 2.7px;
 }

 .vehicle-capsule{
     position: relative;
     top: -1225px;
     color: #FFF;
     font-family: Bellefair;
     font-size: 56px;
     font-weight: 400;
 }

 .term-desc-capsule {
     position: relative;
     top: -1210px;
     color: #D0D6F9;
     font-family: Barlow;
     font-size: 18px;
     font-weight: 400;
     line-height: 32px;
    
     

 }

 ul {
     position: relative;
     top: -490px;

 }

  li {
    
      list-style: none;
      

  }

 .capsule-1{
     position: relative;
     top: -1635px;
     list-style: none;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
    padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .capsule-1:hover {
     background-color: white;
     color: #11131e;
 }

 .capsule-2 {
     position: relative;
     top: -1520px;
     list-style: none;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
    padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .capsule-2:hover {
     background-color: white;
     color: #11131e;
 }


 .capsule-3 {
     position: relative;
     top: -1400px;
     list-style: none;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
    padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .capsule-3:hover {
     background-color: white;
     color: #11131e;
 }

