 .horizontal-line {
     position: absolute;
     top: 85px;
     margin-left: 345px;
     max-width: 900px;
 }

 .logo-top {
     background-color: white;
     border-radius: 50px 50px;
     position: absolute;
     top: 60px;
     margin-left: 100px;
 
 }

 span{
    opacity: 50%;
 }

 .space-launch{
   position: relative;
   top: -2480px;
   color: #FFF;
      font-family: Barlow Condensed;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 4.725px;
 }

 .launch-vehicle{
    position: absolute;
    top: -20px;
    color: white;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
 }

 .terminology{
    position: relative;
    top: -2410px;
    color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2.7px;
 }

 .vehicle{
    position: relative;
    top: -2410px;
    color: #FFF;
        font-family: Bellefair;
        font-size: 50px;
        font-weight: 400;
        line-height: normal;
 }

 .term-desc{
    position: relative;
    top: -2390px;
    color: #D0D6F9;
        font-family: Barlow;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
      
 }

 ul{
    position: relative;
    top: -1490px;
       
     
        
 }


 li{
    position: absolute;
    top: 1900px;
    list-style: none;
    
       
       
 }

  .one {
     position: relative;
     top: -2820px;
     list-style: none;
     color: white;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
     padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

  }

  .one:hover {
     background-color: white;
     color: #11131e;
  }


      .two {
         position: relative;
         top: -2720px;
         list-style: none;
         color: white;
         max-width: 80px;
         height: 80px;
         border: 1px solid white;
         background-color: #11131e;
         padding: 10px 30px 20px 30px;
         border-radius: 100px 100px 100px 100px;
         margin-bottom: 20px;
         font-size: 32px !important;
         font-weight: 400px;
   
      }
   
      .two:hover {
         background-color: white;
         color: #11131e;
      }

             .three {
                position: relative;
                top: -2620px;
                list-style: none;
                color: white;
                max-width: 80px;
                height: 80px;
                border: 1px solid white;
                background-color: #11131e;
                padding: 10px 30px 20px 30px;
                border-radius: 100px 100px 100px 100px;
                margin-bottom: 20px;
                font-size: 32px !important;
                font-weight: 400px;
      
             }
      
             .three:hover {
                background-color: white;
                color: #11131e;
             }






 