.head-titan {
    position: absolute;
    top: 2800px;
    color: white;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

.num-titan {
    opacity: 50%;
}

.titan-image {
    position: relative;
    top: -1490px;
}

.titan-dest {
    position: absolute;
    margin-top: -1570px;
    font-size: 50px;
    margin-left: 750px;
    color: #FFFF;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.see-titan {
    position: absolute;
    margin-top: -1390px;
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 120px;



}

.titan-links {
    position: absolute;
    top: 2900px;
    margin-left: 750px;



}

.titan-links .btn {
    color: white;
}

.avg-titan{
    position: absolute;
    top: 3400px;
    color: #D0D6F9;
    margin-left: 750px;

}

.est-titan {
    position: absolute;
    top: 3400px;
    color: #D0D6F9;
    margin-left: 980px;


}

.km-titan{

    position: absolute;
    top: 3430px;
    color: white;
    margin-left: 750px
}

.days-titan{

    position: absolute;
    top: 3430px;
    color: white;
    margin-left: 980px;
}

.hr-body-titan {
    position: absolute;
    top: 3360px;
    margin-left: 750px;
    max-width: 360px;
}