.crew-body {
    width: 100%;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 3200px;
    object-fit: cover;
}

.crew-image {
    max-width: 600px;
}

.crew-head {
    position: relative;
    color: #d0d6f9;
    font-size: 28px;
    font-weight: 400px;
    letter-spacing: 4.73px;
    justify-content: center;
    font-family: Barlow Condensed;
    padding: 8% 0 0 10%;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.crew-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 10%;
}

.crew-container-reverse {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 10%;
}

.title {
    color: #ffff;
    font-family: Bellefair;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #d0d6f9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width: 1024px) {
    .crew-head {
        padding: 15% 0 0 10%;
    }

    .crew-container, .crew-container-reverse{
        padding: 40px;
        gap: 3%;
    }

    .crew-image {
        max-width: 500px;
    }

    .background-image {
        height: 3000px;
    }
}

@media screen and (max-width: 768px) {
    .crew-head {
        padding: 20% 0 0 10%;
        font-size: 24px;
    }

    .background-image {
        height: 4250px;
    }

    .crew-container, .crew-container-reverse {
        flex-direction: column;
    }

}

@media screen and (max-width: 426px) {
    .crew-head {
        padding: 30% 0 0 5%;
        font-size: 18px;
    }

    .background-image {
        height: 3750px;
    }

    .crew-image {
        max-width: 400px;
    }

    .crew-container, .crew-container-reverse {
        padding: 20px;
    }

    .title {
        font-size: 70px;
    }
}

@media screen and (max-width: 376px) {
    .crew-head {
        font-size: 14px;
    }

    .crew-container, .crew-container-reverse {
        padding: 10px;
    }

    .title {
        font-size: 50px;
    }

    .crew-image {
        max-width: 300px;
    }

    .background-image {
        height: 2990px;
    }
}

@media screen and (max-width: 321px) {
    .crew-head {
        padding: 38% 0 0 5%;
        font-size: 12px;
    }

    .crew-image {
        max-width: 280px;
    }

    .background-image {
        height: 2850px;
    }

    .title {
        font-size: 40px;
    }

    .crew-image {
        max-width: 280px;
    }
}