

.doug-head{
    color: white;
    position: absolute;
    top: 200px;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        text-transform: uppercase;
}




.doug-image{
    position: absolute;
    top: 170px;
    margin-left: 150px;
    max-width: 400px;
}


.commander-doug{
    color: #D0D6F9;
        font-family: Bellefair;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        position: relative;
        top: -3210px;
     
     
}

.douglas{
    color: white;
        font-family: Bellefair;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
        position: relative;
        top: -3200px;
}

.doug-about{
    color:#D0D6F9;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        position: relative;
        top: -3190px;
      
}


.specialist {
    color: #D0D6F9;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: -2620px;

}

.mark-shu {
    color: white;
    font-family: Bellefair;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
   position: relative;
   top: -2590px;
}

.mark-about {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    top: -2550px;

}
.mark-image {
    position: absolute;
    top: 1030px;
    margin-left: 150px;
    max-width: 400px;
}

.head-mark{
    color:white;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        position: absolute;
        margin-top: -2900px;
      
}


.pilot {
    color:#D0D6F9;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: -2000px;

}

.victor-glover {
    color: white;
    font-family: Bellefair;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
   position: relative;
   top: -1970px;
}

.victor-about {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    top: -1900px;
    

}

.victor-image {
    position: absolute;
    top: 1950px;
    margin-left: 150px;
    max-width: 400px;
}

.head-victor{
    color: white;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    position: absolute;
    margin-top: -2220px;

}







.engineer {
    color: #D0D6F9;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: -1370px;

}

.anuouseh-ansari{
    color: white;
    font-family: Bellefair;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    top: -1350px;
}

.anouseh-about {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    top: -1300px;


}

.anouseh-image {
    position: absolute;
    top: 2900px;
    margin-left: 150px;
    max-width: 400px;
}

.head-anouseh{
    color: white;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    position: absolute;
    margin-top: -1550px;

}
