.homepage {
    width: 100%;
    overflow: hidden;
}

.desktopHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.mobileHome, .tabletHome {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.travel {
    position: relative;
    color: #d0d6f9;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 4.73px;
    justify-content: center;
    font-family: Barlow Condensed;
    padding: 8% 0 0 10%;
}

.innerContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
    gap: 10%;
}

.space {
    display: flex;
    flex-direction: column;
}

.space-on {
  font-size: 150px;
  color: #fff;
  font-weight: 400px;
  font-family: Bellefair;
}

.faceit-now {
    position: relative;
    color: #d0d6f9;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400px;
}

button {
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    border: none;
    background-color: white;
    font-size: 32px;
    font-weight: 400px;
    letter-spacing: 2px;
    border-radius: 100px;
}

button:hover {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px) {
    .homepage {
        width: 98%;
        overflow: hidden;
        height: 100vh;
    }

    .travel {
        padding: 20% 0 0 10%;
    }
}

@media screen and (max-width: 768px) {
    .desktopHome, .mobileHome {
        display: none;
    }

    .tabletHome {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .innerContainer{
        margin: 80px 40px 0 40px;
    }

    .space-on {
        font-size: 120px;
    }

    button:hover {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        background-color: black;
        color: white;
    }

}

@media screen and (max-width: 426px) {
    .homepage {
        width: 100vw;
        height: 100%;
    }

    .desktopHome, .tabletHome {
        display: none;
    }

    .mobileHome {
        display: flex;
        overflow-x: hidden;
        overflow-y: scroll !important;
        height: 100%;
    }

    .travel {
        padding: 28% 0 0 5%;
        font-size: 17px;
    }

    .innerContainer{
        margin: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
    }

    .space-on {
        font-size: 100px;
    }

    button:hover {
        width: 175px;
        height: 175px;
        border-radius: 87.5px;
        background-color: black;
        color: white;
    }

}

@media screen and (max-width: 320px) {
    .travel {
        padding: 35% 0 0 5%;
        font-size: 14px;
    }

    .space-on {
        font-size: 60px;
    }

    .faceit-now {
        font-size: 14px;
    }
}

/* @media screen and (max-width: 375px) {
    .desktopHome {
      display: none;
    }
  
    .logo-top {
      position: absolute;
      margin-left: 20px;
      top: 25px;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background-color: white;
    }
  
    .in {
      display: none;
    }
  
    .rounded {
      margin-top: -280px;
      margin-left: 90px;
      background-color: #fff;
      border-radius: 100px 100px 100px 100px !important;
      padding: 60px 40px 60px 40px;
    }
  
    .horizontal-line {
      display: none;
    }
  
    .travel {
      position: absolute;
      top: 100px;
      color: #d0d6f9;
      margin-left: 30px;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2.7px;
    }
  
    .faceit-now {
      color: #d0d6f9;
      text-align: center;
      font-family: Barlow;
      font-size: 15px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      margin-top: -390px;
    }
  
    .space-on {
      margin-top: -180px;
      font-size: 50px;
      display: flex;
      justify-content: center;
      margin-left: 50px;
      color: #fff;
      font-family: Bellefair;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: 100px;
      margin-top: -250px;
    }
    .tabletHome {
      display: none;
    }
  
    ul {
      display: block;
    }
  }
  
  @media screen and (min-width: 820px) {
    .mobileHome {
      display: none;
    }
  
    .tabletHome {
      display: none;
    }
  
    .hamburger {
      display: none;
    }
  
    .space-on {
      margin-top: -60px;
      color: #fff;
      font-family: Bellefair;
      font-size: 150px;
      font-style: normal;
      font-weight: 400;
      line-height: 100px;
    }
  
    .rounded {
      display: none;
    }
  
    explore-more {
      color: #0b0d17;
      font-size: 10px;
      letter-spacing: 2px;
      font-weight: 400px;
    }
  
    .travel {
     
    }
  
    .faceit-now {

    }
  
    .horizontal-line {
      position: absolute;
      top: 85px;
      margin-left: 220px;
      max-width: 1000px;
    }
  
    .logo-top {
      background-color: white;
      border-radius: 50px 50px;
      position: absolute;
      top: 60px;
      margin-left: 20px;
    }
  
    .explore-more {
      color: #0b0d17;
      font-size: 32px;
      letter-spacing: 2px;
      font-weight: 400px;
    }
  
    .in {
      position: absolute;
      margin-left: 400px;
      top: 420px;
      background-color: white;
      padding: 90px 40px 90px 40px;
    }
  
    .in:hover {
      border-width: 50px;
      border-color: #24262f;
      background-color: #fff;
      opacity: 90%;
      cursor: pointer;
      transition: 0.1ms ease-in;
    }
  }
  
  @media screen and (min-width: 390px) and (max-width: 768px) {
    .horizontal-line {
      display: none;
    }
  
    .desktopHome {
      display: none;
    }
  
    .mobileHome {
      display: none;
    }
  
    .space-on {
      margin-top: -150px;
      color: #fff;
      font-family: Bellefair;
      font-size: 150px;
      font-style: normal;
      font-weight: 400;
      line-height: 150px;
      margin-left: 130px;
    }
  
    .travel {
      margin-top: -830px;
      margin-left: 150px;
      position: absolute;
      color: #d0d6f9;
      font-size: 20px;
      font-weight: 400px;
      letter-spacing: 4.73px;
      justify-content: center;
      font-family: Barlow Condensed;
    }
  
    .faceit-now {
      margin-top: -260px;
      color: #d0d6f9;
      text-align: center;
      font-family: Barlow;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      margin-left: 1-15px;
    }
  
    .in {
      display: none;
    }
  
    .rounded {
      margin-left: -60px;
      margin-top: -320px;
      background-color: white;
      padding: 80px 60px 80px 60px;
      border-radius: 100px 100px 100px 100px !important;
    }
  
    explore-more {
      color: #0b0d17;
      font-size: 10px;
      letter-spacing: 2px;
      font-weight: 400px;
    }
  } */
