 span {
     opacity: 50%;
 }

 .space-port-launch{
    position: relative;
    top: -2000px;
    color: #FFF;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 4.725px;
 }

 .spaceport-img{
     position: absolute;
     top: 790px;
     max-width: 467px;
 }

 

 .terminology-spaceport {
     position: relative;
     top: -1890px;
     color: #D0D6F9;
     font-family: Barlow Condensed;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 2.7px;
 }

 .vehicle-spaceport {
     position: relative;
     top: -1900px;
     color: #FFF;
     font-family: Bellefair;
     font-size: 56px;
     font-weight: 400;
 }

 .term-desc-spaceport {
     position: relative;
     top: -1890px;
     color: #D0D6F9;
     font-family: Barlow;
     font-size: 18px;
     font-weight: 400;
     line-height: 32px;

 }

 ul {
     position: relative;
     top: -490px;

 }

   li {

       list-style: none;


   }

 .port{
    position: relative;
    top: -2310px;
     list-style: none;
     color: white;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
     padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .port-2 {
     position: relative;
     top: -2190px;
     list-style: none;
     color: white;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
    padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .port-3{
     position: relative;
     top: -2080px;
     list-style: none;
     color: white;
     max-width: 80px;
     height: 80px;
     border: 1px solid white;
     background-color: #11131e;
    padding: 10px 30px 20px 30px;
     border-radius: 100px 100px 100px 100px;
     margin-bottom: 20px;
     font-size: 32px !important;
     font-weight: 400px;

 }

 .port:hover {
     background-color: white;
     color: #11131e;
 }

 .port-1:hover {
     background-color: white;
     color: #11131e;
 }

 .port-2:hover{
        background-color: white;
        color: #11131e;
    }


         .port-1:hover {
             background-color: white;
             color: #11131e;
         }
    
         .port-3:hover {
             background-color: white;
             color: #11131e;
         }



 li .btn {
     color: white;

 }