.technology-body {
  width: 100%;
  overflow: hidden;
}

.technology-background-image {
  width: 100%;
  height: 1950px;
  object-fit: cover;
  position: absolute;
  z-index: -9;
}

.technology-image {
  max-width: 469px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.technology-head {
  position: relative;
  color: #d0d6f9;
  font-size: 28px;
  font-weight: 400px;
  letter-spacing: 4.73px;
  justify-content: center;
  font-family: Barlow Condensed;
  padding: 8% 0 0 10%;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.technology-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 10%;
}

.technology-container-reverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 10%;
}

.top-text {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
}

.title {
  color: #ffff;
  font-family: Bellefair;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 1024px) {
  .technology-head {
    padding: 15% 0 0 10%;
  }

  .technology-container,
  .technology-container-reverse {
    padding: 40px;
    gap: 3%;
  }

  .technology-image {
    max-width: 500px;
  }

  .technology-background-image {
    height: 2100px;
  }
}

@media screen and (max-width: 768px) {
  .technology-head {
    padding: 20% 0 0 10%;
    font-size: 24px;
  }

  .technology-background-image {
    height: 2700px;
  }

  .technology-container,
  .technology-container-reverse {
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .technology-head {
    padding: 30% 0 0 5%;
    font-size: 18px;
  }

  .technology-background-image {
    height: 2550px;
  }

  .technology-image {
    max-width: 370px;
  }

  .technology-container,
  .technology-container-reverse {
    padding: 20px;
  }

  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 376px) {
  .technology-head {
    font-size: 14px;
  }

  .technology-container,
  .technology-container-reverse {
    padding: 10px;
  }

  .title {
    font-size: 50px;
  }

  .technology-image {
    max-width: 320px;
  }

  .technology-background-image {
    height: 2350px;
  }
}

@media screen and (max-width: 321px) {
  .technology-head {
    padding: 38% 0 0 5%;
    font-size: 12px;
  }

  .technology-image {
    max-width: 280px;
  }

  .technology-background-image {
    height: 2250px;
  }

  .title {
    font-size: 40px;
  }

  .technology-image {
    max-width: 280px;
  }
}
