
@media screen and (max-width:500px) {
  .navBar{
    display: none;
  }
  
}

.navBar {
  position: absolute;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(41px);
  height: 86px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 120px;
  max-width: 1000px;
  opacity: 70%;
  margin-left: 800px;

}

.navBar a {
  text-decoration: none;
  color: white;
  letter-spacing: 3.9px;
  font-weight: 400px;
  font-size: 10px;
  
 
 

}

.navBar a:hover {
  color: #0B0D17;
}

.active {

  color: white;
  padding-left: 90px;

}

.active:hover {
  text-decoration: underline;
  color: #D0D6F9;
}